body{background-color: rgb(204, 143, 108);}

h1 {text-align: center;color: rgb(87, 34, 13); font-size: 200%;}

h2{text-align: center; color: rgb(173, 73, 48);font-size: 170%;}

h3 {text-align: center;font-size: 140%;}

footer {text-align: center;}

#ima1 {margin-left: 40%;}

.p2 {text-align: center;
    background-color: rgb(194, 159, 64);
    border-color: #815709;
    border-width: 6px;
    border-style:outset;
    padding-bottom: 1%;}
    @media only screen and (max-width: 600px) {
      }
